<% if !@postings.empty? %> <!---May ! dapat-->
  <% if supplier_signed_in? %>  
  <h1 class="center"> <%= current_supplier.name %>'s Resource Postings</h1>
  <% else %>
  <h1 class="center">Resource Postings</h1>
  <% end %>

  <div class="container">
    <div class="row">
      <% @postings.each do |p| %>
      <div class="col s3">
        <% if !p.picture.attached?%>
        <%= image_tag("default.png", size: "320x200", :class => "responsive-img")%>
        <% else %>
        <%= image_tag(p.picture, size: "320x200", alt:"sd", :class => "responsive-img") unless p.picture.blank?%>
        <% end%>
        <h4 class="center-align"><%= p.item_type %></h4>
        <p class="center-align"><%= p.supplier.name %> | <%= p.supplier.category %></small>
        <p class="center-align"><%= link_to 'View Posting', posting_path(p), class: 'btn' %></p>
      </div>
      
      <% end %>
    </div>
  </div>
<% else %>
<% if supplier_signed_in? %> 
  <h3 class="center-align">You haven't posted any Garbage Postings yet!</h3>
<% else %>
   <h3 class="center-align">No postings yet</h3>
<%end%>
<% end %>
