<div class="container">
    <div class="row">
        <div class="col s4">
            <a href="/postings"><p>Go back to Postings</p></a>
            <% if !@posting.picture.attached?%>
            <%= image_tag("default.png", size: "320x200")%>
            <% else %>
        <%= image_tag(@posting.picture, size: "600x500", class: "responsive-img") %>
            <% end%>
        </div>
        <div class="col s8">
            <div class="row">
                <div class="col s5">
                  <h3 style=""><b><%= @posting.item_type %></b></h3>
                  <p style="font-size: 20px;">Amount: <%= @posting.amount%> kg</p>
                  <p style = "font-size: 20px">Status: <% if @posting.status==false %>Reserved<% else %>Available<%end %></p>
                </div>
                <%if seller_signed_in? %>
                <% if @posting.reserve_postings.empty? %>
                <div class="col s7">
                <p class="center-align"><%= link_to 'Reserve', reserve_postings_path(@posting.id), method: :put ,class: 'btn' %></p>
                </div>
                <% end %>
                <% @posting.reserve_postings.each do |pr|%>
                <% if pr.seller_id != current_seller.id %>
                <div class="col s7">
                <p class="center-align"><%= link_to 'Reserve', reserve_postings_path(@posting.id), method: :put ,class: 'btn' %></p>
                </div>
                <% elsif pr.seller_id == current_seller.id && @posting.status == false%>
                <div class="col s7">
                <p class="center-align"><%= link_to 'Transaction Completed', posting_path(@posting.id), method: :delete ,class: 'btn red' %></p>
                </div>
                <% end %>
                <% end %>
                <% end %>
            </div>
            <div class="row">
                <h4>Item Description</h4>
                <span class="flow-text"><%=@posting.description%></span>
                <div class="container">
                <% if supplier_signed_in? && @posting.supplier_id == current_supplier.id%>
                <p class="center-align"><%= link_to 'Edit Posting', edit_posting_path ,class: 'btn' %></p>
                <% end %>
                </div>
            </div>
        </div>
    </div>
        <%if supplier_signed_in? && @posting.status == true %>
            <h4>Companies that want to acquire this</h4>
            <% @posting.reserve_postings.each do |p|%>
            <ul class="collection">
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6">
                            <h4><%= p.seller.name%></h4>
                            <p><%= p.seller.email %></p>
                        </div>
                        <div class="col s6">
                            <div class="col s8 offset-s5" style="font-size:20px; padding-top: 20px">
                            <%= link_to 'Accept Reservation',  posting_reserve_posting_approve_path(@posting,p), method: 'put' , class: "btn" %>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        <% end %>
    <% elsif supplier_signed_in? && @posting.status == false %>
        <h4>Companies that want to acquire this</h4>
            <% @posting.reserve_postings.each do |p|%>
            <ul class="collection">
                <li class="collection-item">
                <div class="row">
                    <div class="col s6">
                        <h4><%= p.seller.name%></h4>
                        <p><%= p.seller.email %></p>
                    </div>
                    <div class="col s6">
                        <div class="col s8 offset-s5" style="font-size:20px; padding-top: 20px">
                        <%= link_to 'Accept Reservation',  posting_reserve_posting_approve_path(@posting,p), method: 'put' , class: "btn disabled" %>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <% end %>
    <% end %>
</div>
