<div class="main-container" style="display: flex; width: 100%; height: 100vh;">
  
  
  <div class="left-card" style="width: 50%; background-color: #936060">
    
    <div class="left-card-content" style="display: flex;" >
        <%= image_tag("logo.png", size: "320x200", style: "top: 50%; left:25%; transform: translate(-50%, -50%); position: fixed;  display:block;") %>
    </div>
  </div>
  
  <div class="right-card" style="width: 50%; display: flex">
      
    
    <div class="right-card-content" style="margin: auto">
      
<h2>Sign up as a Seller</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :name, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "sellers/shared/links" %>
    </div>
     
    
    
  </div>

</div>