<div class="container">
<%= simple_form_for @product do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :quantity %>
    <%= f.file_field :picture %> <br> <br> <br>
    <%= f.button :submit %>
<% end %>
</div>