<%= console %>
<% if !@products.empty? %>
<h1 class="center"> Products For Sale </h1>
  <div class="container">
    <div class="row">
      <% @products.each do |p| %>
       <div class="col s3">
        <% if !p.picture.attached?%>
        <%= image_tag(default.png, size: "320x200")%>
        <% else %>
        <%= image_tag(p.picture, size: "320x200")%>
        <h4 class="center-align"><%= p.name %></h4>
        <h4 class="center-align"><%= p.price %></h4>
        <h4 class="center-align"><%= p.quantity %></h4>
        <% end %>
      </div>
      <% end %>
    </div>
  </div> 
<% else %>
  <h3>No Products Yet!</h3>
<% end %>


