<div class="container">
    <div class="row">
        <div class="col s6">
            <a href="/products"><p>Go back to products</p></a>
            <% if !@product.picture.attached?%>
            <%= image_tag("default.png", size: "320x200")%>
            <% else %>
            <%= image_tag(@product.picture, size: "600x500", alt:"Ex B") %>
            <% end%>
        </div>
        <div class="col s6">
            <div class="row">
              <div>
                  <h3 style=""><b><%= @product.name %></b></h3>
                  <p style="font-size: 20px; color:#DF744A;">Price: P<%= @product.price%></p>
                  <p style="font-size: 20px;">Quantity:<%= @product.quantity%> units</p>
              </div>
            </div>
            <div class="row">
                <h4>Item Description</h4>
                <span class="flow-text"><%=@product.description%></span>
                <div class="container">
                <%if seller_signed_in? && @product.seller_id == current_seller.id %>
                <p class="center-align"><%= link_to 'Edit Product', edit_product_path ,class: 'btn' %></p>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>