<!DOCTYPE html>
<html>
  <head>
    <title>BH 2018: Tricksters</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if supplier_signed_in? || buyer_signed_in? || seller_signed_in? %>
    <%= render 'layouts/navigation' %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield %>   
  </body>
</html>
